# Byte-compiled files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
*.tar.gz
*.zip
*.whl

# Django specific
db.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
env/
venv/
instance/
media/
staticfiles/
.env
*.env

# Pytest cache
.pytest_cache/

# Migrations
**/migrations/*.py
!**/migrations/__init__.py

# VS Code
.vscode/
*.code-workspace

# IDE files
.idea/
*.iml

# MacOS
.DS_Store

# Windows
Thumbs.db

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Test files
.tox/
.nox/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Local configuration files
*.local
config/settings/local.py

# Tailwind (if using Django-Tailwind)
node_modules/
tailwind.config.js
package-lock.json
yarn.lock
